@model IEnumerable<WebUI.Models.KisiVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

    </thead>
    <tbody>
       
    </tbody>
</table>

<script>

    function Sil(id) {
        $.ajax({
            url: "https://localhost:44398/api/Kisi/"+id,
            type: 'DELETE',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                window.location.href = "https://localhost:44339/KisiAjax";
            },
            error: function (result) {
                console.log(result);
                alert("Hata");
            }
        })

    }



    $(document).ready(function () {

        $.ajax({
            // url: "https://localhost:44398/api/Kisi/GetirKisiler",
            url: "https://localhost:44398/api/Kisi",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (result) {
                // console.log(result);
                var table = $("tbody");

                table.append(` <tr>
             <th>
                Id
            </th>
            <th>
                Ad
            </th>
            <th>
                Soyad
            </th>
            <th>
               Yas
            </th>      
            <th></th>
        </tr>`);

                for (var i = 0; i < result.length; i++) {

                    console.log(result.length);
                    table.append(`<tr>

            <td>${result[i].id}</td>
            <td>${result[i].ad}</td>
            <td>${result[i].soyad}</td>
            <td>${result[i].yas}</td>
            <td><a href=AdresAjax/Edit/${result[i].id}>Edit</a>|
                <a href='#' onclick="Sil(${result[i].id})">Delete</a></td> </tr>`);


                }

                $("table").html(table);
            },
            error: function (result) {
                console.log(result);
                alert("Hata sonucu");
            }
        });
    });



</script>
