@model AdresDefteriVM


@{
    ViewData["Title"] = "Create";
    List<KisiVM> kisiler = ViewBag.KisiListesi;
}

<h1>Create</h1>

<h4>AdresDefteriVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konum" class="control-label"></label>
                <input asp-for="Konum" class="form-control" />
                <span asp-validation-for="Konum" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="KisiId" class="control-label">Kişiler</label>
                <select asp-for="KisiId" class="form-control">
               @foreach (var item in kisiler)
	            {
                   <option value="@item.Id">@item.Ad</option>
		 
	            }
                </select>
                <span asp-validation-for="KisiId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

